@tailwind base;
@tailwind components;
@tailwind utilities;

/* smooth-scroll: */
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  /* overflow-x: hidden; */
}

* {
  font-family: inherit;
  box-sizing: border-box;
}

/* custom global styles: */
@layer base {
  body {
    @apply bg-[#bec4c9] text-[#252525];
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold tracking-wide;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-3xl;
  }

  li {
    @apply cursor-pointer;
  }
}

/* .marquee-container {
  height: fit-content !important;
} */
