@tailwind base;
@tailwind components;
@tailwind utilities;

/* smooth-scroll: */
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  /* width: 100%; */
  overflow-x: hidden;
  width: calc(100vw - (100vw - 100%));
}

body {
  width: calc(100vw - (100vw - 100%));
  /* overflow-x: hidden; */
  margin: 0;
  padding: 0;
}

* {
  font-family: inherit;
  box-sizing: border-box;
}

/* custom global styles: */
@layer base {
  body,
  main {
    @apply bg-[#bec4c9] text-[#252525] dark:bg-[#2f2f2f] dark:text-white;
  }

  * {
    @apply dark:text-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold tracking-wide;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-3xl;
  }

  li {
    @apply cursor-pointer;
  }
}

/* .marquee-container {
  height: fit-content !important;
} */
